<ion-content>

  <nav>

    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/modulos"></ion-back-button>
      </ion-buttons>
      <ion-title>Modificar Usuarios</ion-title>
    </ion-toolbar>

    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>
  <main>
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/ava-men2.svg">
      </div>


      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">
            <div class="div_nombre">
                <label>{{user.nombres}}</label>
            </div>

            <div class="div_rol">
                <p class="rol">{{user.rol}}</p>
            </div>
            <p>Inicio de sesión: <br> 20/02/2020 07:00 am</p>
        </ng-container>

    </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>
    
    <div class="container2">

      <!--inicio formulario-->
      <form [formGroup]="form" autocomplete="off" (submit)="crearUsuario()">

        <div class="opciones">
          <label for="documento">Documento:</label>
          <input formControlName="di" type="text" id="di" placeholder="números, sin puntos">
        </div>

        <div class="opciones">
          <label for="fecha">Fecha creación:</label>
          <input formControlName="fecha" type="date" id="fecha">
        </div>

        <div class="opciones">
          <label for="nombres">Nombres:</label>
          <input formControlName="nombres" type="text" id="nombres">
        </div>

        <div class="opciones">
          <label for="apellidos">Apellidos:</label>
          <input formControlName="apellidos" type="text" id="apellidos">
        </div>

        <div class="opciones">
          <label for="correo">Correo:</label>
          <input formControlName="correo" type="email" id="correo">
        </div>

        <div class="opciones">
          <label for="contrasena">Contraseña:</label>
          <input formControlName="contrasena" type="text" id="contrasena">
        </div>

        <div class="opciones">
          <label for="rol">Rol:</label>
          <select formControlName="rol" id="rol">
            <ng-container *ngIf="roldataservice.getRolObserver() | async as rolData">
              <option>-Seleccionar rol-</option>
              <option value="{{rol.cod_rol}}" *ngFor="let rol of rolData.roles">{{rol.nom_rol}}</option>
            </ng-container>
          </select>
        </div>


        <div class="opciones">
          <label for="ficha">Ficha:</label>
          <select formControlName="ficha"  id="ficha">
            <ng-container *ngIf="fichaservice.getFichaObserver() | async as fichaData ">
              <option>-Seleccionar ficha-</option>
              <option value="{{ficha.cod_ficha}}" *ngFor="let ficha of fichaData.fichas">{{ficha.nom_ficha}}</option>
            </ng-container>
          </select>
        </div>

        <div class="opciones">
          <label for="activo">¿Activo?</label>
          <label for="">Si
            <input type="radio" name="respuesta">
          </label>
          <label for="">No
            <input type="radio" name="respuesta">
          </label>
        </div>

        <div class="botones">
          <input type="submit" [value]="isEdit?'modificar':'crear'">
          <input type="reset" value="reiniciar">
        </div>

      </form>
    </div>
  </main>

  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>