<ion-content>

  <nav>

    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/biofabrica"></ion-back-button>
      </ion-buttons>
      <ion-title>Insumos</ion-title>
    </ion-toolbar>

    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>
  <main>
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/user-b.png">
      </div>

      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">

          <div class="div_nombre">
            <label>{{user.nombres}} {{user.apellidos}}</label>
          </div>

          <div class="div_rol" *ngIf="user.rol ==1; else lider">
            <label>administrador</label>
          </div>
          <ng-template #lider>líder</ng-template>

        </ng-container>

      </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion" (click)="cerrarSesion()">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>

    <div class="container2">


      <div class="content_form">

        <form [formGroup]="form" autocomplete="off" (submit)="crearEntradaInsumo()">

          <div class="opciones">
            <label>Fecha:</label>
            <input formControlName="fecha" type="date">
          </div>

          <div class="opciones">
            <label>Responsable:</label>
            <select formControlName="responsable">
              <ng-container *ngIf="usuarioObservable | async as user">
                <option>-Seleccionar responsable-</option>
                <option value="{{user.di}}">{{user.nombres}} {{user.apellidos}}</option>
              </ng-container>
            </select>
          </div>

          <div class="opciones">
            <label>Insumo:</label>
            <select formControlName="nom_insumo">
              <ng-container *ngIf="insumoservice.getInsumoObserver() | async as insumoData">
                <option>-Seleccionar insumo-</option>
                <option value="{{insumo.cod_insumo}}" *ngFor="let insumo of insumoData.insumos">{{insumo.nom_insumo}}
                </option>
              </ng-container>
            </select>
          </div>

          <div class="opciones">
            <label>Cantidad:</label>
            <input formControlName="cantidad" type="text">
          </div>

          <div class="opciones">
            <label>Estado:</label>
            <select formControlName="estado">
              <option value="" selected>-seleccione estado-</option>
              <option value="Buen estado">Buen estado</option>
              <option value="Regular">Regular</option>
              <option value="Mal estado">Mal estado</option>
            </select>
          </div>

          <div class="div_enviar_datos">
            <input type="submit" value="Enviar datos">
          </div>

        </form>

      </div>

    </div>

  </main>



  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>