<ion-content>

  <nav>

    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/conf-sis"></ion-back-button>
      </ion-buttons>
      <ion-title>Modificar Insumos</ion-title>
    </ion-toolbar>


    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>

  <main>
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/ava-men2.svg">
      </div>

      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">
          <div class="div_nombre">
            <label>{{user.nombres}}</label>
          </div>

          <div class="div_rol" *ngIf="user.rol ==1; else lider">
            <label>administrador</label>
          </div>
          <ng-template #lider>líder</ng-template>

          <p>Inicio de sesión: <br> 20/02/2020 07:00 am</p>
        </ng-container>

      </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>

    <div class="container2">
     
      <div class="form_insumo">

        <form [formGroup]="form" autocomplete="off" (submit)="crearInsumo()">

          <div class="opciones">
            <ion-label for="fecha">Fecha creación:</ion-label>
            <ion-input formControlName="fecha" type="date" class="input_fecha"
              style="background-color: #e4e4e4"></ion-input>
          </div>

          <div class="opciones">
            <ion-label for="in_cod_insumo">Código insumo:</ion-label>
            <ion-input formControlName="cod_insumo" type="text" id="in_cod_insumo"></ion-input>
          </div>

          <div class="opciones">
            <ion-label for="in_nom_insumo">Nombre insumo:</ion-label>
            <ion-input formControlName="nom_insumo" type="text" id="in_nom_insumo"></ion-input>
          </div>

          <div class="opciones">
            <ion-label for="in_caracteristicas">Características:</ion-label>
            <ion-textarea formControlName="caracteristicas" type="text" id="in_caracteristicas" maxlength="200" cols="30" rows="10"
            placeholder="ejemplo: marca, peso, tamaño, color..."></ion-textarea>
          </div>

          <div class="opciones">
            <label for="estado">Estado insumo:</label>
            <select formControlName="estado" id="estado">
              <option value="">-seleccione estado-</option>
              <option value="Bueno">Bueno</option>
              <option value="Regular">Regular</option>
              <option value="Malo">Malo</option>
            </select>
          </div>

          <div class="opciones">
            <label for="in_procedencia">Procedencia:</label>
            <select formControlName="procedencia" id="in_procedencia">
              <ng-container *ngIf="procedenciadataservice.getProcedenciaObserver() | async as procedenciaData">
                <option>-Seleccionar procedencia-</option>
                <option value="{{procedencia.cod_procedencia}}" *ngFor="let procedencia of procedenciaData.procedencias">{{procedencia.nom_procedencia}}</option>
              </ng-container>
            </select>
          </div>

          <div class="botones">
            <input type="submit" [value]="isEdit?'modificar':'crear'">
            <input type="reset" value="reiniciar">
          </div>

        </form>
      </div>
    </div>
  </main>

  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>