* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

main {
    padding: 1.2em;
    padding-bottom: 40px;
    background-color: white;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #598C26;
    height: 60px;
}

ion-title {
    color: white;
}

ion-back-button {
    color: white;
}

.container1 {
    background-color: #598C26;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    padding: 1em;
    margin-bottom: 1.5em;
}

.usuario{
    align-self: center;
    width: 80px;
    height: 88px;
}

.usuario img {
    width: 80px;
    border-radius: 50%;
}

.header {
    text-align: center;
}

.cerrar_sesion {
    padding-top: 5px;
}

.cerrar_sesion img {
    width: 25px;
}

.cerrar_sesion img:hover {
    box-shadow: #324001;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}
.container2 {
    max-width: 380px;
    background-color: #598C26;
    border-radius: 10px;
    padding: 1em;
}

.ventanas {
    display: flex;
    width: 100%;
    border-radius: 10px 10px 5px 5px;
    background-color: #e4e4e4;
}

.ven_nuevo, .ven_modificar {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    padding: 1px 2px;
    margin: 0px 2px;
}

.form_zona {
    background-color: #e4e4e4;
    margin-top: 2px;
    border-radius: 10px;
    padding: 20px 5px 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.opciones {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"], select, textarea{
    border: 0px;
    width: 55%;
    border-radius: 5px;
    padding-left: 3px;
    background-color: white;
}

input:focus{
    outline: none;
    border: 1px solid #2c4018;
}

.botones input {
    margin-top: 30px;
    padding: 5px;
    background-color: #2c4018;
    border-radius: 5px;
    color: white;
}

.botones input:hover {
    background-color: #598C26;
}

footer {
    background-color: #598C26;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}

footer a {
    display: flex;
    align-items: center;
}