<ion-content>

  <nav>

    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/conf-sis"></ion-back-button>
      </ion-buttons>
      <ion-title>Historial de Pila</ion-title>
    </ion-toolbar>


    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>

  <main>
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/ava-men2.svg">
      </div>

      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">

          <div class="div_nombre">
            <label>{{user.nombres}} {{user.apellidos}}</label>
          </div>

          <div class="div_rol" *ngIf="user.rol ==1; else lider">
            <label>administrador</label>
          </div>
          <ng-template #lider>líder</ng-template>

        </ng-container>

      </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion" (click)="cerrarSesion()">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>

    <div class="container2">
      <div class="contentDatos">
        <ng-container *ngIf="zonasService.getZona(cod_zona) | async as zonaData">
          <ng-container *ngFor="let zona of zonaData">
            
            <div class="titulo">
              <label>Centro Agropecuario de Buga </label>
              <img src="../../assets/icon/sena-log.png" height="30px" width="30px">
            </div>
              <label>Hoja de vida {{zona.nom_zona}}: {{zona.cod_zona}}</label>
              
            <!-- <div > -->
              <div *ngIf="zona.pila" class="datosPila">

                <label>Datos conformación de la pila</label>
                <label></label>
                <label></label>
                <label>* Código conformación pila: {{zona.pila.cod_conf_pila}}</label>
                <label>* Fecha de inicio: {{zona.pila.fecha_inicio}}</label>
                <label>* Responsable conformación:</label>
                <label>  {{zona.pila.responsable.nombres}} {{zona.pila.responsable.apellidos}}</label>
                <label>* Observaciones: {{zona.pila.observaciones}}</label>
                <label>* Conformación materia prima: </label>
                
                <div *ngFor="let mp of zona.pila.materia_prima_ingresada" class="datosMp">
                  
                  <label>> materia prima: {{mp.materia_prima.nombre_mp}}</label>
                  <label>fecha: {{mp.fecha}}</label>
                  <label>peso agregado: {{mp.peso}}</label>
                  <label>procedente de: {{mp.procedencia.nom_procedencia}}</label>
                  <label>relacion C/N total: {{mp.relacion_cn}}</label>
  
                </div>

                <div class="subtitulo">
                  <label>* Actualizaciones de pila:</label>
                </div>

                <div *ngFor="let h of zona.pila.historial" class="datosHistorial">

                  <label>> fecha: {{h.fecha}}</label>
                  <label>responsable:</label>
                  <label>{{h.responsable.nombres}} {{h.responsable.apellidos}}</label>
                  <label></label>
                  <label>temperatura promedio: {{h.temperatura_promedio}}</label>
                  <label>humedad: {{h.humedad}}</label>
                  <label>ph: {{h.ph}}</label>
                  <label>volumen: {{h.volumen}}</label>
                  <label>densidad: {{h.densidad}}</label>
                  <label>peso: {{h.peso}}</label>
                  <label>observaciones: {{h.observaciones}}</label>

                </div>
              </div>
            <!-- </div> -->

          </ng-container>
        </ng-container>
      </div>
    </div>
  </main>

  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>