<ion-content>

  <nav>

    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/biofabrica"></ion-back-button>
      </ion-buttons>
      <ion-title>Bitácora</ion-title>
    </ion-toolbar>

    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>
  <main>
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/ava-men2.svg">
      </div>


      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">

          <div class="div_nombre">
            <label>{{user.nombres}} {{user.apellidos}}</label>
          </div>

          <div class="div_rol" *ngIf="user.rol ==1; else lider">
            <label>administrador</label>
          </div>
          <ng-template #lider>líder</ng-template>

        </ng-container>

      </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion" (click)="cerrarSesion()">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>

    <!--cuadro entradas y salidas-->
    <div class="container2">

      <form [formGroup]="form" autocomplete="off" (submit)="crearBitacora()">

        <div class="opciones">
          <label for="in_fecha">Fecha:</label>
          <input formControlName="fecha" type="date">
        </div>

        <div class="opciones">
          <label>Responsable:</label>
          <select formControlName="responsable">
            <ng-container *ngIf="usuarioObservable | async as user">
              <option>-Seleccionar responsable-</option>
              <option value="{{user.rol}}">{{user.nombres}} {{user.apellidos}}</option>
            </ng-container>
          </select>
        </div>

        <!--agregar actividades rutinarias-->
        <!-- <div> -->
          <label class="label_titulo">Actividades rutinarias</label>

          <div class="lista">

            <input type="checkbox" value="Bitácora" name="Bitácora">
            <label for="Bitácora">Bitácora</label>

            <input type="checkbox" value="Pedido insumos" name="Pedido insumos">
            <label for="Pedido insumos">Pedido insumos</label>

            <input type="checkbox" value="Recibir mp">
            <label for="Recibir mp">Recibir mp</label>

            <input type="checkbox" value="Actualizar pila">
            <label for="Actualizar pila">Actualizar pila</label>

            <input type="checkbox" value="Nueva pila">
            <label for="Nueva pila">Nueva pila</label>

            <input type="checkbox" value="Combinar pila">
            <label for="Combinar pila">Combinar pila</label>

          </div>
<!-- 
          <div class="caja_lista">
            <select formControlName="rutinarias" multiple>
              <option value="" selected>-Seleccione actividad-</option>
              <option value="Bitácora">Bitácora</option>
              <option value="Pedido insumos">Pedido insumos</option>
              <option value="Recibir mp">Recibir mp</option>
              <option value="Actualizar pila">Actualizar pila</option>
              <option value="Nueva pila">Nueva pila</option>
              <option value="Combinar pila">Combinar pila</option>
            </select>

            <button class="btn_agregar">Agregar</button>
          </div> -->

<!--           <div class="content_table">
            <table>
              <tr>
                <th>#</th>
                <th>Actividad</th>
              </tr>
              <tr>
                <td>1</td>
                <td>Bitácora</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Pedido insumos</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Recibir MP</td>
              </tr>
            </table>
          </div> -->
        <!-- </div> -->

        <!--agregar actividades no rutinarias-->
        <div>
          <label for="in_norutinaria" class="label_titulo">Actividades no rutinarias</label>

          <div class="opciones">
            <select formControlName="no_rutinarias" id="in_norutinaria">
              <ng-container *ngIf="secundariaservice.getSecundariaObserver() | async as secundariaData">
                <option>-Seleccionar responsable-</option>
                <option value="{{secundaria.cod_secund}}" *ngFor="let secundaria of secundariaData.secundarias">
                  {{secundaria.nom_acti_sec}}</option>
              </ng-container>
            </select>
          </div>

          <button class="btn_agregar">Agregar</button>
        </div>

        <div class="content_table">
          <table>
            <tr>
              <th>#</th>
              <th>Actividad</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Limpiar canales</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Aseo general</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Charla capacitación</td>
            </tr>
          </table>
        </div>

        <div class="opciones">
          <label for="input_operarios"># Operarios:</label>
          <input formControlName="num_operarios" type="number" id="input_operarios">
        </div>

        <div class="opciones">
          <label for="insu_entregados">Insumos entregados:</label>
          <input type="number" id="insu_entregados">
        </div>

        <div class="">
          <label for="in_insumo" class="label_titulo">Insumos recibidos:</label>
          <div class="opciones">

            <select formControlName="insumos" id="in_insumo">
              <ng-container *ngIf="insumoservice.getInsumoObserver() | async as insumoData">
                <option>-Seleccionar responsable-</option>
                <option value="{{insumo.cod_insumo}}" *ngFor="let insumo of insumoData.insumos">{{insumo.nom_insumo}}
                </option>
              </ng-container>
            </select>
          </div>

          <div class="opciones">
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad">
          </div>

          <button class="btn_agregar">Agregar</button>
        </div>

        <div class="content_table">
          <table>
            <tr>
              <th>#</th>
              <th>Insumos</th>
              <th>Cantidad</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Insumo 1</td>
              <td>10</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Insumo 2</td>
              <td>3</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Insumo 3</td>
              <td>4</td>
            </tr>
          </table>
        </div>



        <div class="content_input_observaciones">
          <label for="observaciones" class="label_observaciones">Observaciones:</label>
          <textarea formControlName="observa" id="observaciones" maxlength="200" cols="30" rows="10"
            placeholder="max. 200 caracteres"></textarea>
        </div>


        <!--         <div class="div_img_mp">
          <img src="../../assets/icon/mp.svg" class="img_mp">
        </div>
        <div class="div_subir_foto">
          <input type="file">
          <p>evidencia</p>
        </div> -->

        <div class="div_enviar_datos">
          <input type="submit" value="Enviar datos">
        </div>
      </form>

    </div>
  </main>
  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>