<ion-content>

  <nav>

    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/biofabrica"></ion-back-button>
      </ion-buttons>
      <ion-title>Bitácora</ion-title>
    </ion-toolbar>

    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>
  <main>
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/ava-men2.svg">
      </div>


      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">
            <div class="div_nombre">
                <label>{{user.nombres}}</label>
            </div>

            <div class="div_rol">
                <p class="rol">{{user.rol}}</p>
            </div>
            <p>Inicio de sesión: <br> 20/02/2020 07:00 am</p>
        </ng-container>

    </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>

    <!--cuadro entradas y salidas-->
    <div class="container2">
      <div class="cod_bitacora">
        <label for="input_bitacora"># Bitácora:</label>
        <input type="text" id="input_bitacora">
        <input type="date" class="input_fecha">
      </div>
      <form action="post" class="mp_entrada" autocomplete="off">

        <div class="opciones">
          <label for="responsable" class="label_actividad">Responsable:</label>
          <select name="" id="responsable">
            <option value="1" selected>-Seleccione usuario-</option>
            <option value="2">Usuario 1</option>
            <option value="3">Usuario 2</option>
          </select>
        </div>

        <!--agregar actividades rutinarias-->
        <div class="">
          <label for="agregar_rutinaria" class="label_titulo">Actividades rutinarias</label>

          <div class="caja_lista">
            <select name="" id="agregar_rutinaria">
              <option value="1" selected>-Seleccione actividad-</option>
              <option value="2">Bitácora</option>
              <option value="3">Pedido insumos</option>
              <option value="4">Recibir mp</option>
              <option value="5">Actualizar pila</option>
              <option value="6">Planear activiades</option>
              <option value="7">Nueva pila</option>
              <option value="8">Combinar pila</option>
            </select>

            <button class="btn_agregar">Agregar</button>
          </div>

          <div class="content_table">
            <table>
              <tr>
                <th>#</th>
                <th>Actividad</th>
              </tr>
              <tr>
                <td>1</td>
                <td>Bitácora</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Pedido insumos</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Recibir MP</td>
              </tr>
            </table>
          </div>
        </div>

        <!--agregar actividades no rutinarias-->
        <div class="">
          <label for="agregar_norutinaria" class="label_titulo">Actividades no rutinarias</label>

          <div class="caja_lista">
            <select name="" id="agregar_norutinaria">
              <option value="1" selected>-Seleccione actividad-</option>
              <option value="2">Limpiar canales</option>
              <option value="3">Barrer planchón</option>
              <option value="4">Zarandear pila</option>
              <option value="5">Charlas capacitación</option>
              <option value="6">Aseo general</option>
            </select>

            <button class="btn_agregar">Agregar</button>
          </div>
        </div>

        <div class="content_table">
          <table>
            <tr>
              <th>#</th>
              <th>Actividad</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Limpiar canales</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Aseo general</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Charla capacitación</td>
            </tr>
          </table>
        </div>

        <div class="opciones">
          <label for="input_operarios"># Operarios:</label>
          <input type="number" id="input_operarios">
        </div>

        <div class="opciones">
          <label for="insu_entregados">Insumos entregados:</label>
          <input type="number" id="insu_entregados">
        </div>

        <div class="">
          <label for="agregar_insumo" class="label_titulo">Insumos recibidos:</label>
          <select name="" id="agregar_insumo">
            <option value="1" selected>-Seleccione insumo-</option>
            <option value="2">Insumo 1</option>
            <option value="3">Insumo 2</option>
            <option value="4">Insumo 3</option>
            <option value="5">Insumo 4</option>
            <option value="6">Insumo 5</option>
          </select>

          <div class="opciones">
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad">
          </div>

          <button class="btn_agregar">Agregar</button>
        </div>

        <div class="content_table">
          <table>
            <tr>
              <th>#</th>
              <th>Insumos</th>
              <th>Cantidad</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Insumo 1</td>
              <td>10</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Insumo 2</td>
              <td>3</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Insumo 3</td>
              <td>4</td>
            </tr>
          </table>
        </div>



        <div class="content_input_observaciones">
          <label for="observaciones" class="label_observaciones">Observaciones:</label>
          <textarea name="observaciones" id="observaciones" maxlength="200" cols="30" rows="10"
            placeholder="max. 200 caracteres"></textarea>
        </div>


        <div class="div_img_mp">
          <img src="../../assets/icon/mp.svg" class="img_mp">
        </div>
        <div class="div_subir_foto">
          <input type="file">
          <p>evidencia</p>
        </div>

        <div class="div_enviar_datos">
          <input type="submit" value="Enviar datos">
        </div>
      </form>

    </div>
  </main>
  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>