<ion-content>

  <nav>

    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/conf-sis"></ion-back-button>
      </ion-buttons>
      <ion-title>Modificar Act/ No Rutinaria</ion-title>
    </ion-toolbar>


    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>

  <main>
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/ava-men2.svg">
      </div>

      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">

          <div class="div_nombre">
            <label>{{user.nombres}} {{user.apellidos}}</label>
          </div>

          <div class="div_rol" *ngIf="user.rol ==1; else lider">
            <label>administrador</label>
          </div>
          <ng-template #lider>líder</ng-template>

        </ng-container>

      </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion" (click)="cerrarSesion()">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>

    <div class="container2">

      <form [formGroup]="form" autocomplete="off" (submit)="crearSecundaria()">

        <div class="opciones">
          <label>Fecha creación:</label>
          <input formControlName="fecha" type="date">
        </div>

        <div class="opciones">
          <label>Código no rutinaria:</label>
          <input formControlName="cod_secund" type="text">
        </div>

        <div class="opciones">
          <label>Nombre no rutinaria:</label>
          <input formControlName="nom_acti_sec" type="text">
        </div>

        <div class="botones">
          <input type="submit" [value]="isEdit?'modificar':'crear'">
          <input type="reset" value="reiniciar">
        </div>

      </form>

    </div>

  </main>

  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>