<ion-content>

  <nav>
    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/modulos"></ion-back-button>
      </ion-buttons>
      <ion-title>Configuración sistema</ion-title>
    </ion-toolbar>

    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>

  <main>
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/ava-men2.svg" width="150px">
      </div>

      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">
            <div class="div_nombre">
                <label>{{user.nombres}}</label>
            </div>

            <div class="div_rol">
                <p class="rol">{{user.rol}}</p>
            </div>
            <p>Inicio de sesión: <br> 20/02/2020 07:00 am</p>
        </ng-container>

    </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>

    <div class="menu">
      <p>Menú</p>
      <div class="cont_botones_menu">
        <button class="btn_menu1" [routerLink]="['/fichas']">Fichas</button>
        <button class="btn_menu2" [routerLink]="['/roles']">Roles</button>
        <button class="btn_menu3" [routerLink]="['/zonas']">Zonas</button>
        <button class="btn_menu4" [routerLink]="['/materias-primas']">Materias Primas</button>
        <button class="btn_menu5" [routerLink]="['/procedencias']">Procedencias</button>
        <button class="btn_menu6" [routerLink]="['/lista-insumos']">Lista Insumos</button>
        <button class="btn_menu7" [routerLink]="['/tipo-insumos']">Tipo Insumos</button>
        <button class="btn_menu8" [routerLink]="['/mejoradores']">Mejoradores</button>
        <button class="btn_menu9" [routerLink]="['/actividades-secun']">Actividades Secundarias</button>
      </div>

    </div>

  </main>

  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>