<ion-content>

  <nav>

    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/conf-sis"></ion-back-button>
      </ion-buttons>
      <ion-title>Modificar Ficha</ion-title>
    </ion-toolbar>


    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>

  <main>
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/ava-men2.svg">
      </div>

      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">
          <div class="div_nombre">
            <label>{{user.nombres}}</label>
          </div>

          <div class="div_rol" *ngIf="user.rol ==1; else lider">
            <label>administrador</label>
          </div>
          <ng-template #lider>líder</ng-template>

          <p>Inicio de sesión: <br> 20/02/2020 07:00 am</p>
        </ng-container>

      </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>

    <div class="container2">

      <div class="form_ficha">

        <form [formGroup]="form" autocomplete="off" (submit)="crearFicha()">

          <div class="opciones">
            <ion-label for="fecha">Fecha creación:</ion-label>
            <ion-input formControlName="fecha" type="date" class="input_fecha"
              style="background-color: #e4e4e4"></ion-input>
          </div>

          <div class="opciones">
            <ion-label for="input_ficha">Código ficha:</ion-label>
            <ion-input formControlName="cod_ficha" type="text" id="input_ficha"></ion-input>
          </div>

          <div class="opciones">
            <ion-label for="nom_ficha">Nombre ficha:</ion-label>
            <ion-input formControlName="nom_ficha" type="text" id="nom_ficha"></ion-input>
          </div>

          <div class="botones">
            <input type="submit" [value]="isEdit?'modificar':'crear'">
            <input type="reset" value="reiniciar">
          </div>

        </form>
      </div>
    </div>
  </main>

  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>