<ion-content>

  <nav>

    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/biofabrica"></ion-back-button>
      </ion-buttons>
      <ion-title>Salida Abonos</ion-title>
    </ion-toolbar>

    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>
  <main>
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/ava-men2.svg">
      </div>
      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">
            <div class="div_nombre">
                <label>{{user.nombres}}</label>
            </div>

            <div class="div_rol">
                <p class="rol">{{user.rol}}</p>
            </div>
            <p>Inicio de sesión: <br> 20/02/2020 07:00 am</p>
        </ng-container>

    </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>
    <!--cuadro nuevo, combinar, actualizar-->
    <div class="container2">
      <div class="ventanas">
        <div class="ven_entradas">
          <button [routerLink]="['/abonos-entrada']">entradas</button>
        </div>
        <div class="ven_salidas">
          <button [routerLink]="['/abonos-salida']">salidas</button>
        </div>
      </div>

      <div class="cod_entrada">
        <label># Salida:</label>
        <input type="text" id="input_entrada" placeholder="1">
        <input type="date" class="input_fecha">
      </div>

      <!--inicio formulario-->
      <form action="post" class="mp_entrada" autocomplete="off">



        <div class="content_input">
          <label for="select_abono"># Abono:</label>
          <select id="select_abono">
            <option selected>-Seleccionar # Abono-</option>
            <option value="1">Abono # 1</option>
            <option value="2">Abono # 2</option>
            <option value="3">Abono # 3</option>
          </select>
        </div>

        <div class="content_input">
          <label for="input_cantidad">Cantidad kg:</label>
          <input type="number" id="input_cantidad">
        </div>

        <div class="content_input">
          <label for="select_finalidad">Finalidad:</label>
          <select id="select_finalidad">
            <option selected>-Seleccionar finalidad-</option>
            <option value="1">Finalidad ejemplo 1</option>
            <option value="2">Finalidad ejemplo 2</option>
            <option value="3">Finalidad ejemplo 3</option>
          </select>
        </div>

        <div class="content_input">
          <label for="select_destino">Destino:</label>
          <select id="select_destino">
            <option selected>-Seleccionar destino-</option>
            <option value="1">Destino ejemplo 1</option>
            <option value="2">Destino ejemplo 2</option>
            <option value="3">Destino ejemplo 3</option>
          </select>
        </div>

        <div class="content_input">
          <label for="select_usuario">Recibe:</label>
          <select id="select_usuario">
            <option selected>-Seleccionar usuario-</option>
            <option value="1">Usuario ejemplo 1</option>
            <option value="2">Usuario ejemplo 2</option>
            <option value="3">Usuario ejemplo 3</option>
          </select>
        </div>

        <div class="content_input">
          <label for="select_usuario">Entrega:</label>
          <select id="select_usuario">
            <option selected>-Seleccionar usuario-</option>
            <option value="1">Usuario ejemplo 1</option>
            <option value="2">Usuario ejemplo 2</option>
            <option value="3">Usuario ejemplo 3</option>
          </select>
        </div>

        <div class="content_input_observaciones">
          <label for="observaciones" class="label_observaciones">Observaciones: </label>
          <textarea name="observaciones" id="observaciones" maxlength="200" cols="30" rows="10"
            placeholder="max. 200 caracteres"></textarea>
        </div>

        <div class="div_img_pila">
          <img src="../../assets/icon/mp.svg" class="img_pila">
        </div>
        <div class="div_subir_foto">
          <input type="file">
          <p>evidencia</p>
        </div>

        <div class="div_enviar_datos">
          <input type="submit" value="Enviar datos">
        </div>


      </form>
    </div>
  </main>

  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>