<ion-content>

  <nav>

    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/biofabrica"></ion-back-button>
      </ion-buttons>
      <ion-title>Salida Abonos</ion-title>
    </ion-toolbar>

    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>
  <main>
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/ava-men2.svg">
      </div>
      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">
          <div class="div_nombre">
            <label>{{user.nombres}}</label>
          </div>

          <div class="div_rol" *ngIf="user.rol ==1; else lider">
            <label>administrador</label>
          </div>
          <ng-template #lider>líder</ng-template>

          <p>Inicio de sesión: <br> 20/02/2020 07:00 am</p>
        </ng-container>

      </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>
    <!--cuadro nuevo, combinar, actualizar-->
    <div class="container2">
      <div class="ventanas">
        <div class="ven_entradas">
          <button [routerLink]="['/abonos-entrada']">entradas</button>
        </div>
        <div class="ven_salidas">
          <button [routerLink]="['/abonos-salida']">salidas</button>
        </div>
      </div>

      <!--inicio formulario-->
      <form [formGroup]="form" autocomplete="off" (submit)="crearAbonoSalida()">

        <div class="opciones">
          <label for="in_fecha">Fecha:</label>
          <input formControlName="fecha" type="date" class="in_fecha">
        </div>

        <div class="opciones">
          <label for="in_abono">Abono:</label>
          <select formControlName="abono" id="in_abono">
            <ng-container *ngIf="abonoentradaservice.getAbonoEntradaObserver() | async as abonoData">
              <option>-Seleccionar lote abono-</option>
              <option value="{{abono.cod_abono}}" *ngFor="let abono of abonoData.abonoentradas">{{abono.lote_abono}}</option>
            </ng-container>
          </select>
        </div>

        <div class="opciones">
          <label for="in_cantidad">Cantidad kg:</label>
          <input formControlName="cantidad" type="number" id="in_cantidad">
        </div>

        <div class="opciones">
          <label for="in_finalidad">Finalidad:</label>
          <select formControlName="finalidad" id="in_finalidad">
            <option selected>-Seleccionar finalidad-</option>
            <option value="Venta">Venta</option>
            <option value="Uso interno">Uso interno</option>
            <option value="Traslado">Traslado</option>
          </select>
        </div>

        <div class="opciones">
          <label for="in_destino">Destino:</label>
          <input formControlName="destino" id="in_destino">
        </div>

        <div class="opciones">
          <label for="in_recibe">Recibe:</label>
          <input formControlName="recibe" id="in_recibe">
        </div>

        <div class="opciones">
          <label for="in_entrega">Entrega:</label>
          <select formControlName="entrega" id="in_entrega">
            <ng-container *ngIf="usuarioservice.getUsuariosObserver() | async as usuarioData">
              <option>-Seleccionar responsable-</option>
              <option value="{{usuario.di}}" *ngFor="let usuario of usuarioData.usuarios">{{usuario.nombres}} {{usuario.apellidos}}</option>
            </ng-container>
          </select>
        </div>

        <div class="opciones">
          <label for="in_observa">Observaciones: </label>
          <textarea formControlName="observa" id="in_observa" maxlength="200" cols="30" rows="10"
            placeholder="max. 200 caracteres"></textarea>
        </div>

<!--         <div class="div_img_pila">
          <img src="../../assets/icon/mp.svg" class="img_pila">
        </div>
        <div class="div_subir_foto">
          <input type="file">
          <p>evidencia</p>
        </div> -->

        <div class="div_enviar_datos">
          <input type="submit" value="Enviar datos">
        </div>


      </form>
    </div>
  </main>

  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>