<ion-content>

  <nav>
    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/biofabrica"></ion-back-button>
      </ion-buttons>
      <ion-title>Nueva Pila</ion-title>
    </ion-toolbar>

    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>
  <div class="main">
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/user-b.png">
      </div>


      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">

          <div class="div_nombre">
            <label>{{user.nombres}} {{user.apellidos}}</label>
          </div>

          <div class="div_rol" *ngIf="user.rol ==1; else lider">
            <label>administrador</label>
          </div>
          <ng-template #lider>líder</ng-template>

        </ng-container>

      </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion" (click)="cerrarSesion()">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>

    <div class="container2">
      <!--cuadro nuevo, combinar, actualizar-->
      <div class="ventanas">
        <div class="ven_nuevo">
          <button [routerLink]="['/cp-nuevo']">nuevo</button>
        </div>
        <div class="ven_combinar">
          <button [routerLink]="['/cp-combinar']">combinar</button>
        </div>
        <div class="ven_actualizar">
          <button [routerLink]="['/cp-actualizar']">actualizar</button>
        </div>

      </div>

      <form [formGroup]="form" autocomplete="off" (submit)="crearPilaNueva()">

        <div class="opciones">
          <label>Fecha:</label>
          <input formControlName="fecha_inicio" type="date">
        </div>

        <div class="opciones">
          <label>Codigo conformación de pila:</label>
          <input formControlName="cod_conf_pila" type="text" placeholder="ejem: AA00">
        </div>

        <div class="opciones">
          <label for="in_zona">Zona:</label>
          <select id="in_zona" formControlName="zona_id">
            <ng-container *ngIf="zonaservice.ZonasSinPilaObserver() | async as zonaData">
              <option>-Seleccionar zona-</option>
              <option value="{{zona.cod_zona}}" *ngFor="let zona of zonaData">{{zona.nom_zona}} {{zona.cod_zona}}
              </option>
            </ng-container>
          </select>
        </div>

        <div class="opciones">
          <label for="in_usuario">Responsable:</label>
          <select formControlName="responsable_id" id="in_usuario">
            <ng-container *ngIf="usuarioObservable | async as user">
              <option>-Seleccionar responsable-</option>
              <option value="{{user.di}}">{{user.nombres}} {{user.apellidos}}</option>
            </ng-container>
          </select>
        </div>

        <div class="opciones">
          <label for="observaciones" class="label_observaciones">Observaciones: </label>
          <textarea formControlName="observaciones" id="observaciones" maxlength="200" cols="30" rows="10"
            placeholder="max. 200 caracteres"></textarea>
        </div>
        
        <div class="opciones">
          <label>Materia prima:</label>
          <select formControlName="materia_prima" multiple>
            <ng-container *ngIf="mpingresadaservice.getMpIngresadaObserver() | async as mpingresadaData">
              <option value="{{mpingresada.id}}" *ngFor="let mpingresada of mpingresadaData.mpingresadas">
                {{mpingresada.materia_prima.nombre_mp}}</option>
            </ng-container>
          </select>
        </div>

        <div class="div_enviar_datos">
          <input type="submit" value="Enviar datos">
        </div>

      </form>

    </div>
  </div>

  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>
</ion-content>