<ion-content>

  <nav>
    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/biofabrica"></ion-back-button>
      </ion-buttons>
      <ion-title>Entrada Materias Primas</ion-title>
    </ion-toolbar>

    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>

  <div class="main">
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/user-b.png">
      </div>


      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">

          <div class="div_nombre">
            <label>{{user.nombres}} {{user.apellidos}}</label>
          </div>

          <div class="div_rol" *ngIf="user.rol ==1; else lider">
            <label>administrador</label>
          </div>
          <ng-template #lider>líder</ng-template>

        </ng-container>

      </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion" (click)="cerrarSesion()">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>

    <!--cuadro entradas y salidas-->
    <div class="container2">

      <form *ngFor="let form of forms; let i = index; let first = first; trackBy: trackForm" [formGroup]="form"
        autocomplete="off">

        <div class="opciones">
          <label>Fecha creación:</label>
          <input formControlName="fecha" type="date">
        </div>
        
        <ng-container *ngIf="mpService.getMpObserver() | async as mpData">
        <div class="opciones">
          <label for="in_mp">Materia prima:</label>
          <select formControlName="materia_prima_id" id="in_mp" >  <!-- [(ngModel)]="mpSelect" (ionChange)="setValueMp()" -->
              <option>-Seleccionar Materia prima-</option>
              <option value="{{mp.cod_mp}}" *ngFor="let mp of mpData.mps"  >{{mp.nombre_mp}}</option> <!--[value]="mp.relacion_cn"  -->
            </select>
          </div>
          
          <div class="opciones">
            <label for="in_relacion">Relación C/N: </label>
            <input formControlName="relacion_cn" type="text" id="in_relacion"  readonly> <!-- [(ngModel)]="mp.relacion_cn" -->
          </div>
        </ng-container>

        <div class="opciones">
          <label for="in_peso">Peso (kg): </label>
          <input formControlName="peso" type="number" class="in_peso">
        </div>

        <div class="opciones">
          <label for="in_procedencia">Procedencia:</label>
          <select formControlName="procedencia_id" id="in_procedencia">
            <ng-container *ngIf="procedenciaService.getProcedenciaObserver() | async as procedenciaData">
              <option>-Seleccionar procedencia-</option>
              <option value="{{procedencia.cod_procedencia}}" *ngFor="let procedencia of procedenciaData.procedencias">
                {{procedencia.nom_procedencia}}</option>
            </ng-container>
          </select>
        </div>

        <div class="opciones">
          <label for="in_Trelacion">Total Relación C/N: </label>
          <input formControlName="total_relacion_cn" type="text" id="in_Trelacion" readonly>
        </div>

        <div class="content_agregar_mp" *ngIf="!first" (click)="eliminarFormulario(i)">
          <a class="link_agregar_mp">-</a>
        </div>

      </form>

      <div class="content_agregar_mp" (click)="construirFormulario()">
        <a class="link_agregar_mp">+</a>
      </div>

      <div class="calculo_cn">
        <button (click)="calcular()">Calcular C/N</button>
      </div>

      <div class="div_enviar_datos" (click)="crearEntradaMp()">
        <input type="submit" value="Enviar datos">
      </div>

    </div>
  </div>

  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>