<ion-content>

  <nav>

    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/conf-sis"></ion-back-button>
      </ion-buttons>
      <ion-title>Roles</ion-title>
    </ion-toolbar>

    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>

  </nav>

  <main>
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/ava-men2.svg">
      </div>

      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">
          <div class="div_nombre">
            <label>{{user.nombres}}</label>
          </div>

          <div class="div_rol" *ngIf="user.rol ==1; else lider">
            <label>administrador</label>
          </div>
          <ng-template #lider>líder</ng-template>

          <p>Inicio de sesión: <br> 20/02/2020 07:00 am</p>
        </ng-container>

      </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>

    <div class="container2">

      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button [routerLink]="['/modif-roles/',-1]">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ng-container *ngIf="roldataservice.getRolObserver() | async as rolData ">
        <ion-list>
          <ion-list-header>
            Lista de Roles
          </ion-list-header>


          <ion-item *ngFor="let rol of rolData.roles">

            <ion-label>
              <h5>{{rol.fecha}} - {{rol.cod_rol}}, {{rol.nom_rol}}</h5>
            </ion-label>

            <div class="item-note">
              <ion-icon name="create" style="zoom: 2.0;" [routerLink]="['/modif-roles/',rol.cod_rol]"></ion-icon>
              <ion-icon name="trash" style="zoom: 2.0;" (click)="eliminarRol(rol.cod_rol)"></ion-icon>
            </div>

          </ion-item>
        </ion-list>
      </ng-container>
    </div>

  </main>

  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>