<ion-content>

  <nav>
    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/biofabrica"></ion-back-button>
      </ion-buttons>
      <ion-title>Combinar Pila</ion-title>
    </ion-toolbar>

    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>
  <main>
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/ava-men2.svg" width="150px">
      </div>


      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">

          <div class="div_nombre">
            <label>{{user.nombres}} {{user.apellidos}}</label>
          </div>

          <div class="div_rol" *ngIf="user.rol ==1; else lider">
            <label>administrador</label>
          </div>
          <ng-template #lider>líder</ng-template>

        </ng-container>

      </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion" (click)="cerrarSesion()">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>

    <!--cuadro nuevo, combinar, actualizar-->
    <div class="container2">
      <div class="ventanas">
        <div class="ven_nuevo">
          <button [routerLink]="['/cp-nuevo']">nuevo</button>
        </div>
        <div class="ven_combinar">
          <button [routerLink]="['/cp-combinar']">combinar</button>
        </div>
        <div class="ven_actualizar">
          <button [routerLink]="['/cp-actualizar']">actualizar</button>
        </div>
      </div>

      <form [formGroup]="form" (submit)="MoverPila()" autocomplete="off">

        <div class="opciones">
          <label>Fecha:</label>
          <input formControlName="fecha" type="date">
        </div>

        <div class="opciones">
          <label>Zona origen:</label>
          <select formControlName="zona_origen">
            <ng-container *ngIf="zonaservice.ZonasConPilaObserver() | async as zonaData">
              <option>-Seleccionar zona-</option>
              <option value="{{zona.cod_zona}}" *ngFor="let zona of zonaData">{{zona.nom_zona}} {{zona.cod_zona}}
              </option>
            </ng-container>
          </select>
        </div>

        <div class="opciones">
          <label>Zona destino:</label>
          <select formControlName="zona_destino">
            <ng-container *ngIf="zonaservice.getZonaObserver() | async as zonaData">
              <option>-Seleccionar zona-</option>
              <option value="{{zona.cod_zona}}" *ngFor="let zona of zonaData.zonas">{{zona.nom_zona}} {{zona.cod_zona}}
              </option>
            </ng-container>
          </select>
        </div>

        <div class="opciones">
          <label>Observaciones:</label>
          <textarea formControlName="observaciones" maxlength="200" cols="30" rows="10"
            placeholder="max. 200 caracteres"></textarea>
        </div>

        <div class="div_enviar_datos">
          <input type="submit" value="Enviar datos">
        </div>

      </form>
    </div>
  </main>

  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>