<ion-content>

  <nav>

    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/conf-sis"></ion-back-button>
      </ion-buttons>
      <ion-title>Materias Primas</ion-title>
    </ion-toolbar>

    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>

  <main>
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/user-b.png">
      </div>

      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">

          <div class="div_nombre">
            <label>{{user.nombres}} {{user.apellidos}}</label>
          </div>

          <div class="div_rol" *ngIf="user.rol ==1; else lider">
            <label>administrador</label>
          </div>
          <ng-template #lider>líder</ng-template>

        </ng-container>

      </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion" (click)="cerrarSesion()">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>

    <div class="container2">

      <ng-container *ngIf="mpdataservice.getMpObserver() | async as mpData ">
        <ion-list>
          <ion-list-header>
            Lista de materias primas
          </ion-list-header>


          <div *ngFor="let mp of mpData.mps" class="caja">

            <label>Código materia prima: {{mp.cod_mp}}</label>
            <label>Nombre materia prima: {{mp.nombre_mp}}</label>
            <label>Relación C/N: {{mp.relacion_cn}}</label>

            <div class="item-note">
              <ion-icon name="create" style="zoom: 2.0;" [routerLink]="['/modif-materias-p/',mp.cod_mp]"></ion-icon>
              <ion-icon name="trash" style="zoom: 2.0;" (click)="eliminarMp(mp.cod_mp)"></ion-icon>
            </div>

          </div>

        </ion-list>

      </ng-container>

    </div>
  </main>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/modif-materias-p/',-1]">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>