<ion-content>

  <nav>

    <ion-toolbar color="mycolors">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/biofabrica"></ion-back-button>
      </ion-buttons>
      <ion-title>Entrada Abonos</ion-title>
    </ion-toolbar>

    <div class="content_menu_h">
      <img src="../../assets/icon/menu-h.svg" class="nav_img">
    </div>
  </nav>
  <main>
    <!--panel usuario-->
    <div class="container1">
      <!--foto de usuario-->
      <div class="usuario">
        <img src="../../assets/icon/ava-men2.svg">
      </div>


      <!--datos principales usuario-->
      <header class="header">

        <ng-container *ngIf="usuarioObservable | async as user">

          <div class="div_nombre">
            <label>{{user.nombres}} {{user.apellidos}}</label>
          </div>

          <div class="div_rol" *ngIf="user.rol ==1; else lider">
            <label>administrador</label>
          </div>
          <ng-template #lider>líder</ng-template>

        </ng-container>

      </header>
      <!--botón cerrar sesión-->
      <div class="cerrar_sesion" (click)="cerrarSesion()">
        <img src="../../assets/icon/power.svg">
      </div>
    </div>
    <!--cuadro nuevo, combinar, actualizar-->
    <div class="container2">
      <div class="ventanas">
        <div class="ven_entradas">
          <button [routerLink]="['/abonos-entrada']">entradas</button>
        </div>
        <div class="ven_salidas">
          <button [routerLink]="['/abonos-salida']">salidas</button>
        </div>
      </div>

      <!--inicio formulario-->
      <form [formGroup]="form" class="mp_entrada" autocomplete="off" (submit)="crearAbonoEntrada()">

        <div class="opciones">
          <label>Fecha:</label>
          <input formControlName="fecha" type="date" class="fecha">
        </div>

        <div class="opciones">
          <label for="in_usuario">Responsable:</label>
          <select formControlName="responsable" id="in_usuario">
            <ng-container *ngIf="usuarioObservable | async as user">
              <option>-Seleccionar responsable-</option>
              <option value="{{user.rol}}">{{user.nombres}} {{user.apellidos}}</option>
            </ng-container>
          </select>
        </div>

        <div class="opciones">
          <label for="in_zona">Zona:</label>
          <select id="in_zona">
            <ng-container *ngIf="zonaservice.getZonaObserver() | async as zonaData">
              <option>-Seleccionar zona-</option>
              <option value="{{zona.cod_zona}}" *ngFor="let zona of zonaData.zonas">{{zona.nom_zona}}</option>
            </ng-container>
          </select>
        </div>

        <!--         <div class="opciones">
          <label for="select_almacen">Almacen</label>
          <select id="select_almacen">
            <option selected>-Seleccionar almacen-</option>
            <option value="1">Almacen ejemplo 1</option>
          </select>
        </div> -->

        <div class="opciones">
          <label for="input_lote">Cod. lote:</label>
          <input formControlName="lote_abono" type="text" id="input_lote">
        </div>

        <div class="opciones">
          <label for="in_kilos">Kilos abono:</label>
          <input formControlName="kilos_abono" type="number" id="in_kilos">
        </div>

        <div class="opciones">
          <label for="input_mover">¿Agrega mejoradores?</label>
          <label for="">Si
            <input type="radio" name="respuesta">
          </label>
          <label for="">No
            <input type="radio" name="respuesta">
          </label>
        </div>

        <div class="opciones">
          <label for="in_mejorador">¿Cúales?:</label>
          <select formControlName="mejorador" id="in_mejorador">
            <ng-container *ngIf="mejoradorservice.getMejoradorObserver() | async as mejoradorData">
              <option>-Seleccionar mejorador-</option>
              <option value="{{mejorador.cod_mejorador}}" *ngFor="let mejorador of mejoradorData.mejoradores">
                {{mejorador.nom_mejorador}}</option>
            </ng-container>
          </select>
        </div>

        <div class="opciones">
          <label>Cantidad:</label>
          <input formControlName="cantidad" type="number">
        </div>

        <div class="opciones">
          <label for="observaciones" class="label_observaciones">Observaciones: </label>
          <textarea formControlName="observa" id="observaciones" maxlength="200" cols="30" rows="10"
            placeholder="max. 200 caracteres"></textarea>
        </div>
        <!-- 
        <div class="div_img_pila">
          <img src="../../assets/icon/mp.svg" class="img_pila">
        </div>
        <div class="div_subir_foto">
          <input type="file">
          <p>subir foto abono</p>
        </div> -->

        <div class="div_enviar_datos">
          <input type="submit" value="Enviar datos">
        </div>


      </form>
    </div>
  </main>

  <footer>
    <p>contacto:</p>
    <a href="https://www.google.com"><img src="../../assets/icon/facebook.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/whatsapp.svg" class="img_footer"></a>
    <a href="https://www.google.com"><img src="../../assets/icon/email.svg" class="img_footer"></a>
  </footer>

</ion-content>